/* Header styling */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: rgb(10, 10, 52);
  padding: 10px 0px;
  /* position: fixed; */
  overflow: hidden;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(169, 105, 228);
  font-size: 1.04rem;
}

.left > a{
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
/* form styling */

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: white;
  font-size: 30px;
  margin-bottom: 5px;
}
.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background:linear-gradient(90deg,rgb(0, 30, 60), rgb(92, 149, 207));
  border-radius: 5px;
  margin-bottom: 50px;
}

.contact-input {
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 25px;
  font-weight: 500;
  background:linear-gradient(90deg,rgb(0, 30, 60), rgb(92, 149, 207));
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 30px;
  border-radius: 15px;
  color: white;
  background:linear-gradient(90deg,rgb(0, 30, 60), rgb(92, 149, 207));
}

.contact-input:focus {
  border-bottom: 2px solid white;
  color: white;
}

.btn {
    background:linear-gradient(90deg,rgb(0, 30, 60), rgb(92, 149, 207));
    color: white;
    padding: 15px 40px;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    display: flex;
    
}


.contact-right img{
    width: 500px;
}

@media (max-width:800) {
    .contact-input{
        width: 80vw;

    }
    .contact-right{
        display: none;
    }
}

.footer {
  width: 100%;
  position: absolute;
  /* margin-bottom: 10px; */
  display: flex;
  padding: 25px 100px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  /* Mobile styles */

  nav {
    height: auto; /* Adjust height for smaller screens */
    flex-direction: column; /* Stack items vertically */
    padding: 10px 0; /* Add padding */
  }

  nav ul {
    margin-top: 10px; /* Space between navigation items */
  }
  .contact-right{
    display: none;
  }

  .footer > div {
    /* width: 100%;
    position: absolute;
    /* margin-bottom: 10px; */
    /* display: flex;
    padding: 10px 0px;
    margin: auto; */ 
    align-items: center;
  }
}