// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

:root{

    --font-inter: "Inter", sans-serif;
    --font-optical-sizing: auto;
    --font-weight: 700;
    --font-style: normal;
    --font-variation-settings: "slnt" 0;
  }
